{{> welcome-menu}}

<section class="section">
  <p> Hi, Welcome to Geo Tag for DevOps on AWS .. </p>
  <div class="columns">
    <div class="column">
        <img src="/images/logo_1.jpg" alt="Geo Tag Logo 1" style="width:500px;height:550px;">
    </div>
    <div class="column">
        <img src="/images/logo_2.jpg" alt="Geo Tag Logo 2" style="width:500px;height:550px;">
    </div>
  </div>
</section>
